{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
			 <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
		{% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
		<p><font color="green">{{ post.upvoteCount|linebreaksbr }}</font><font color="red"> {{ post.downvoteCount|linebreaksbr }}</font></p>
		<a class="btn btn-default" href="{% url 'post_upvote' pk=post.pk %}"><span class="glyphicon glyphicon-arrow-up"></span></a>
		<a class="btn btn-default" href="{% url 'post_downvote' pk=post.pk %}"><span class="glyphicon glyphicon-arrow-down"></span></a>
		<a class="btn btn-default" href="{% url 'post_comment' pk=post.pk %}"><span class="glyphicon glyphicon-comment"></span></a>
		{% for comment in post.comment.all %}
			<p>{{ comment.author|linebreaks }}</p>
			<p>{{ comment.text|linebreaks }}</p>
		{% endfor %}
    </div>
{% endblock %}